# PostgreSQL
POSTGRES_USER=sce
POSTGRES_PASSWORD=sce_secret
POSTGRES_DB=sce_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

# Server
SERVER_PORT=3001
NODE_ENV=development

# Anthropic
ANTHROPIC_API_KEY=sk-ant-...

# pgAdmin
PGADMIN_EMAIL=admin@sce.local
PGADMIN_PASSWORD=admin
